body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: white;
}

form {
  background-color: white;
  border: 1px solid white;
  padding: 20px 40px;
  width: 600px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
}


h2 {
  color: red;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

label {
  display: inline-block;
  width: 150px;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 60%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  resize: none;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #b30000;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: red;
}

#p1 {
  font-weight:normal;
  text-align: left;
  font-size: small;
}

#p2 {
  font-size: 14px;
  color: Black;
}

#p3 {
  margin-top: 20px;
  font-weight: bold;
}

